<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
    <link rel="stylesheet" href="./static/css/font-awesome.min.css" />
    <title>Support</title>
</head>
<body>
    {% include '_header.html' %}
    <!-- Global container -->
  <div class="global-container">
    <!-- Web content  -->
    <div class="web">
     <!-- Content HÃY CODE VÀO ĐÂY BÊN DƯỚI-->
     <div class="contact-widget">
      <div class="contact-title"><h1>Contact</h1></div>
      <div class="contact-p">
        <p>GameHub là website phân phối sản phẩm về Game bản quyền, Phần mềm, tiện ích hàng đầu Việt Nam.</p>
      </div>
      <div class="contact-section">
        <div class="contact-mail">
          <div class="contact-mail1">
            <div class="contact-mail11"><i class="fa-solid fa-envelope"></i></div>
            <div class="contact-mail12"><span> MAIL ME</span></div>
          </div>
          <div class="contact-mail2">nquan1208@gmail.com</div>
          <div class="contact-mail2">info@example.com</div>
        </div>
        <div class="contact-sms">
          <div class="contact-sms1"><h2>Gửi tin nhắn cho tôi</h2></div>
          <div class="contact-sms2"><p>Chơi game mà không cần bỏ tiền bản quyền ra đúng là lợi thật đấy, tuy nhiên bạn sẽ chẳng thể nào có được trải nghiệm tốt như những người đã bỏ tiền ra mua game đâu.</p></div>
        </div>
        <div class="contact-icon">
          <div class="contact-ic1"><i class="fa-brands fa-instagram"></i></div>
          <div class="contact-ic2"><i class="fa-brands fa-facebook"></i></div>
          <div class="contact-ic2"><i class="fa-brands fa-youtube"></i></div>
          <div class="contact-ic2"><i class="fa-brands fa-twitter"></i></div>
        </div>
      </div>
     </div>
    </div>
  </div>

  <div class="contact-backgr">
    <div class="backgr-inf">
      <div class="backgr-inf-h2">
        <h2>Bạn chưa có tài khoản?</h2>
      </div>
      <div class="backgr-inf-p">
        <p>Hãy tạo ngay một tài khoản để sử dụng đầy đủ các tính năng, tích lũy ưu đãi khi thanh toán các sản phẩm và tham gia vào chương trình Giới thiệu bạn bè nhận hoa hồng vĩnh viễn tại GameHub.</p>
      </div>
    </div>
    <div class="backgr-inf-button">
      <a href="{{ url_for('register') }}">Đăng ký</a>
    </div>
   </div>

  <!-- upper footer -->
  <section class="upper-footer w-full container bg-white flex items-center justify-center">
    <div class="upper-footer__content flex flex-col items-center">
      <h2 class="upper-footer__title">Liên hệ và hỗ trợ</h2>
      <p class=""><b>LIÊN HỆ BẢO HÀNH</b> - Từ 8h - 23h30 các ngày trong tuần kể cả T7 CN</p>
    </div>
  </section>
    {% include '_footer.html' %}
</body>
</html>